#naslov1 {
    color: rgb(51, 139, 233);
    display: none;
}

h2 {
    color: #ff0000;
    display: none;
}

h3 {
    color: hsla(270, 64%, 53%, 0.82);
    display: none;
}
p {
    background-color: rgba(250, 241, 73, 0.517);
    color: rgba(11, 47, 61, 0.731);
    padding: 15px;
    display: none;

}
div {
    width: 450px;
    height: 300px;
    background-color: skyblue;

    border-style: solid;
    border-color: rgba(1, 108, 190, 0.476);
    border-width: 10px;
    display: none;
}

#naslov2 {
    color: blueviolet;
}
